In [0]:
import pandas as pd
import numpy as np

In [0]:
data_list = np.arange(0,20).reshape(5,4)
df = pd.DataFrame(data_list, 
                  index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'],
                  columns=["Column1", "Column2", "Column3", "Column4"])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [0]:
df.to_csv("example1.csv")
# way to read back the csv file from Colab Environment.
# from google.colab import files
# files.download("example1.csv")

In [6]:
# Accessing the elements
# 1. .loc  2. .iloc
row1 = df.loc['Row1']
type(row1)

pandas.core.series.Series

In [7]:
df.iloc[0:4,0:1]

      Column1
Row1        0
Row2        4
Row3        8
Row4       12

In [0]:
# Dataframe to arrays
list1 = df.loc['Row1'].values
list2 = df.iloc[0,:].values

In [9]:
df.loc['Row1'].value_counts()

3    1
2    1
1    1
0    1
Name: Row1, dtype: int64

In [10]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [11]:
df['Column1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Column1, dtype: int64

In [0]:
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['jobs_data_cleaned.csv']), index_col=None)

In [0]:
df.head()

In [0]:
 df.info()

In [0]:
df.describe()

In [0]:
df[df['avg_salary'] > 85]

In [0]:
df.corr()

In [0]:
df1 = pd.read_csv(io.BytesIO(uploaded['jobs_data_cleaned.csv']), usecols=['avg_salary', 'min_salary', 'max_salary'])

In [0]:
df1

In [25]:
df1.dtypes

min_salary      int64
max_salary      int64
avg_salary    float64
dtype: object

In [0]:
df1

In [0]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

In [0]:
wine.head()

In [0]:
wine.to_csv("wine.csv")

In [0]:
wine.to_json("wine.json", orient="records")

In [0]:
import json
x = open("wine.json")
json.loads(x.read())

In [0]:
covid_world = pd.read_html("https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN:en")

In [42]:
len(covid_world)

1

In [0]:
covid_india = pd.read_html("https://www.mygov.in/covid-19")

In [47]:
covid_india[0]

                 State/UTs  Confirmed  Active  Recovered  Deceased
0      Andaman and Nicobar         33       0         33         0
1           Andhra Pradesh       2474     872       1552        50
2        Arunachal Pradesh          1       0          1         0
3                    Assam        107      64         41         2
4                    Bihar       1391     888        494         9
5               Chandigarh        196     139         54         3
6             Chhattisgarh         93      34         59         0
7   Dadra and Nagar Haveli          1       1          0         0
8            Daman and Diu          0       0          0         0
9                    Delhi      10054    5401       4485       168
10                     Goa         38      31          7         0
11                 Gujarat      11745    6247       4804       694
12                 Haryana        928     316        598        14
13        Himachal Pradesh         90      43         44         3
14       Jammu and Kashmir       1289     665        609        15
15               Jharkhand        223     107        113         3
16               Karnataka       1246     679        530        37
17                  Kerala        630     129        497         4
18                  Ladakh         43       2         41         0
19             Lakshadweep          0       0          0         0
20             Maharashtra      35058   25372       8437      1249
21                 Manipur          7       5          2         0
22               Meghalaya         13       1         11         1
23                 Mizoram          1       0          1         0
24          Madhya Pradesh       5236    2549       2435       252
25                Nagaland          0       0          0         0
26                  Odisha        876     652        220         4
27              Puducherry         18       8          9         1
28                  Punjab       1980     396       1547        37
29               Rajasthan       5507    2151       3218       138
30                  Sikkim          0       0          0         0
31              Tamil Nadu      11760    7273       4406        81
32               Telengana       1597     562       1000        35
33                 Tripura        167      82         85         0
34           Uttar Pradesh       4605    1704       2783       118
35             Uttarakhand         93      40         52         1
36             West Bengal       2825    1575       1006       244